/*theme-my-login lgin page updates*/
#theme-my-login1 {max-width:100%;}
.tml-user-login-wrap label{display:none;}
.tml-user-pass-wrap label{display:none;}
.tml-rememberme-wrap {display:none !important;}
.tml-submit-wrap #wp-submit1 {padding: 12px 0; border: 0; text-transform: uppercase; font-size: 13px; text-shadow: 1px 1px rgba(0,0,0,0.2);box-shadow: 0 2px 3px rgba(0,0,0,0.3); background: #3b6998; color: #fff; text-shadow: 1px 1px rgba(0,0,0,0.1); background: -moz-linear-gradient(top,  #3b6998 0%, #0b4073 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b6998), color-stop(100%,#0b4073)); background: -webkit-linear-gradient(top,  #3b6998 0%,#0b4073 100%); background: -o-linear-gradient(top,  #3b6998 0%,#0b4073 100%); background: -ms-linear-gradient(top,  #3b6998 0%,#0b4073 100%); background: linear-gradient(to bottom,  #3b6998 0%,#0b4073 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b6998', endColorstr='#0b4073',GradientType=0 ); width:100%;}
.tml-action-links {font-size:12px;}
.tml .tml-action-links li {border-right: 1px solid rgba(255, 255, 255, 0.1);}

.loginwrapper img.login-logo {margin: 10px auto;}
.loginwrapper input#user_login1 { background: #eee url(../img/username.png) no-repeat 8px 12px; }
.loginwrapper input#user_pass1 { background: #eee url(../img/password.png) no-repeat 8px 12px; }


/*Dashboard*/
table {font-size:inherit;}
.dynamic-content-wrapper {display:none;}
.dynamic-content-wrapper.current {display:block;}
.fcc-dashboard.mainwrapper .logopanel {max-height:50px;}
.fcc-dashboard.mainwrapper .logopanel img{width: 75%;padding: 5px 0px 0px 5px;}
.fcc-dashboard.mainwrapper .datewidget {min-height:21px;}
.fcc-dashboard.mainwrapper .searchwidget .search-query {height:inherit; width:200px;}
.fcc-dashboard.mainwrapper .searchwidget .input-append .btn { padding-top: 10px;padding-bottom: 10px;}
.fcc-dashboard.mainwrapper .leftmenu {margin-top:0px;}
.fcc-dashboard.mainwrapper .leftmenu .nav-tabs li:first-child {border-top:none;}